# =========================
# 🔹 Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# virtual environments
venv/
.env/
.venv/

# =========================
# 🔹 Environment files
# =========================
.env
docker/.env

# =========================
# 🔹 Logs
# =========================
*.log
logs/
*.out
*.err

# =========================
# 🔹 Database
# =========================
*.db
*.sqlite3

# =========================
# 🔹 PostgreSQL (local dumps)
# =========================
*.sql
*.dump

# =========================
# 🔹 IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# 🔹 macOS
# =========================
.DS_Store

# =========================
# 🔹 Docker
# =========================
docker-data/
*.pid

# =========================
# 🔹 Storage (user files)
# =========================
storage/uploads/*

# BUT keep folder
!storage/uploads/.keep

# =========================
# 🔹 Build / cache
# =========================
dist/
build/
*.egg-info/

# =========================
# 🔹 Tests / coverage
# =========================
.coverage
htmlcov/

# =========================
# 🔹 Temporary files
# =========================
tmp/
temp/